.dropdown-item:hover{

color:black

}
.dropdown-item {
  color: white; /* Initial color */
}


ul li a.nav-link {

  color: white; 
}
body {
  overflow-x: hidden !important; 
}

* {
  max-width: 100%;
  box-sizing: border-box;
}
